/* Custom Properties */
/* & */
/* Global Resets */
* {
  --mainColour: #343a40;
  --mainColour1: #868e96;
  --mainColour2: #dee2e6;
  --secondaryColour: #51cf66;
  --secondaryColour1: #37b24d;
  --secondaryColour2: #2b8a3e;
  --boxShadow: 0 3px 15px rgba(0, 0, 0, 0.2)
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "M PLUS 1 Code", sans-serif;
  background-color: var(--mainColour);
  color: var(--secondaryColour);
  font-size: 1.1rem;
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

/* Layout Styles */
header {
  height: 100vh;
  overflow: hidden;
  color: var(--secondaryColour);
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--mainColour);
}

.section-1 {
  display: none;
  transform: translateY(0) scale(1);
}

.section-2 {
  display: none;
  transform: translateY(0) scale(1);
}

.section-3 {
  display: none;
  transform: translateY(0) scale(1);
}

.section-4 {
  display: none;
  transform: translateY(0) scale(1);
}

.section-5 {
  display: none;
  transform: translateY(0) scale(1);
}

/* Controls */
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--mainColour1);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0.7rem 0;
  box-shadow: var(--boxShadow);
}

.icon {
    font-size: 1.2rem;
    pointer-events: none;
}

/* Utility Styles */
.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
}

@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
  
}

.active-btn {
  background-color: var(--secondaryColour2);
  color: var(--mainColour2);
}

/* Content Styles */
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.left-header {
  display: flex;
  align-items: center;
  position: relative;
}

.h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--secondaryColour2);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  clip-path: polygon(0 0, 34% 5%, 100% 100%, 0% 100%);
}

.image {
  border-radius: 50%;
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: #383333;
  transition: all 0.4s ease-in-out;
}

.image:img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}

.image:hover {
  filter: grayscale(0);
}

.right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}

.right-header:p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

/* Component Styles */
.btn-container {
  display: flex;
  align-self: flex-start;
}
.main-btn{
  /* display: flex; */
  /* align-self: flex-start; */
  /* align-items: center; */
  border-radius: 15px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--secondaryColour2);
  overflow: hidden;
  padding: 0.5rem 0;
  padding-left: 0.1rem;
}

/* .btn-text {
  padding: 0 2rem;
} */

.btn-icon {
  background-color: var(--secondaryColour2);
  color: var(--mainColour2);
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 1rem;
}